/** code highlighting **/
@import url(highlighting/mono-blue.css);
@import url(jquery.textcomplete.css);

h1, h2, h3, h4 {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
}

span, .normalText, .card-title {
    color:#424242;
    font-family: 'Montserrat', sans-serif;
}

p, textarea {
    color:#424242;
    font-family: 'Abel', sans-serif;
}

a {
    color: #424242 !important;
}

body {
    margin: 0px;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}

html {
    background: #B0BEC5;
}

.header {
    text-align: center;
    height: 500px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.headerLeftBottom {
    align-self: flex-start;
}

.headerDiagram {
    width: 50%;
}

.racoonLogo {
    width: 30%;
}

.content {
    background: whitesmoke;
}

.footer {
    margin: 3rem;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.footer h4 {
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.bnclInput {
    padding: 1rem;
}

.bnclInput textarea {
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
}

.readonly {
    background-color: #cfd8dc;
}

.notification {
    display: table;
    position: relative;
    margin: 40px auto 0;
    width: 500px;
    background-color: #0074D9;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.notification--error {
    background-color: #FF4136;
}

.notification--success {
    background-color: #2ECC40;
}


.notification-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}
.notification-icon > i {
    width: 20px;
    font-size: 20px;
}

.notification-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}
.notification-body > p {
    line-height: 1.2;
    margin-top: 6px;
    color: whitesmoke;
    font-size: large;
}
.notification-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    right: 5px;
    top: 5px;
    opacity: 0;
    font-size: small;
    cursor: pointer;
    padding: 10px;
}
.notification:hover .notification-close {
    opacity: 1;
}
.notification-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.notification.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.tabs .indicator {
    background-color: black; !important;
    color: black; !important;
}

.tab a :hover {
    color: rgba(0, 0, 0, 0.5); !important;
}

#renderedBPMN {
    margin-top: 2%;
    width: 100%;
    height: 500px;
    margin-bottom: 2%;
}
