<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bpmnViewer(bpmn)" th:if="${bpmn != ''}">
    <h4>BPMN 2.0 XML output: </h4>
    <div class="row">
        <button
                class="waves-effect waves-dark btn blue-grey lighten-5 black-text"
                id="downloadBpmn"
                onclick="createAndOpenFile()"
                download="process.bpmn">
            Download as BPMN-file with Layout
        </button>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 blue-grey lighten-5 black-text"><a class="active" href="#xmlTab">XML</a></li>
                <li class="tab col s3 blue-grey lighten-5 black-text" onclick="renderBPMN()"><a href="#bpmnTab">Rendered BPMN</a></li>
            </ul>
        </div>
        <div id="xmlTab" class="col s12">
            <pre>
                <code id="xml" class="xml">...

                </code>
            </pre>
        </div>
        <div id="bpmnTab" class="col s12">
            <div id="renderedBPMN"></div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var xml = [[${bpmn}]];

            if (xml == "" || xml.indexOf("Error: invalid") >= 0) {
                var mydiv = document.getElementById('xml');
                mydiv.innerHTML = xml;
                return;
            }

            $('html, body').animate({
                                        scrollTop: $("#xml").offset().top - 55
                                    }, 1200);

            xml = addPrefix(xml);
            var xml_formatted = formatXML(xml);
            xml_escaped =
                    xml_formatted.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
                            .replace(/ /g, '&nbsp;').replace(/\n/g, '<br />');

            var mydiv = document.getElementById('xml');

            mydiv.innerHTML = xml_escaped;

        });

        function addPrefix(xml) {
            xml = xml.replaceAllJustFirst("<+([a-z])", "<bpmn:");
            xml = xml.replaceAll("</", "</bpmn:");

            // add additional xml-namespaces
            var additionalNS = ' xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL"'
                               + ' xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" ';
            var xmlDefinitions = "bpmn:definitions";

            xml = xml.substring(0, xml.indexOf(xmlDefinitions) + xmlDefinitions.length)
                  + additionalNS
                  + xml.substring(xml.indexOf(xmlDefinitions) + xmlDefinitions.length + 1);

            return xml;
        }

        function createAndOpenFile() {
            var bpmn = [[${bpmn}]];
            bpmn = addPrefix(bpmn);
            autoLayoutFromApi(bpmn).success(function(res, err) {
                download(res, "process.bpmn", "text/xml");
            }).fail(function(err) {
                download(bpmn, "process.bpmn", "text/xml");
            });
        }

        function renderBPMN() {
            removeRenderedBPMN();
            var viewer = new BpmnJS({ container: '#renderedBPMN' });
            var bpmn = [[${bpmn}]];
            bpmn = addPrefix(bpmn);
            autoLayoutFromApi(bpmn).success(function(res, err) {
                viewer.importXML(res, function(err) {

                    if (err) {
                        console.log('error rendering', err);
                    } else {
                        var canvas = viewer.get('canvas');
                        canvas.zoom('fit-viewport');
                    }
                });
            }).fail(function(err) {
                console.log('error rendering', err)
            });
        }

        function removeRenderedBPMN() {
            $('#renderedBPMN').remove();
            $('#bpmnTab').append("<div id='renderedBPMN'></div>");
        }

        /*]]>*/
    </script>
</div>
</body>
</html>